@define-color background rgb(0, 0, 0);
@define-color foreground rgb(255, 255, 255);
@define-color foreground-translucent rgba(255, 255, 255, 0.2);

/** Style that applies to everything. */
* {
  font-family: 'Iosevka Nerd Font';
  font-size: 18px;
  color: @foreground;
}

/** ---------- WayBar instance ---------- */
/** Style of the background/wrapper of the bar itself. */
window#waybar {
  background-color: transparent;
}

/** Style of the bar. */
window#waybar>box {
  margin: 20px;
  background-color: @background;
  border: 1.5px solid @foreground;
  border-radius: 5px;
}
/** ------------------------------------- */

/** Generic button of any section. */
button {}

/** ---------- [hyprland/workspaces] ---------- */
#workspaces button {}
#workspaces button.focused {}
#workspaces button.active {
  background-color: @foreground-translucent;
}
#workspaces button.urgent {}
/** ----------------------------------------- */

#custom-power,
#clock,
#battery,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#custom-recording {
  /* border: none;
  color: #ffffff;
  padding: 3px 5px;
  margin: 5px;
  border-radius: 5px; */
}

#battery.charging,
#battery.plugged {}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {}

.modules-left>widget:first-child>#workspaces {}

.modules-center {}

#tray>.passive {}
#tray>.needs-attention {}
