/* ---------- Colors ---------- */
@define-color background-color rgb(25, 25, 25);
@define-color foreground-color rgb(255, 255, 255);
@define-color foreground-color-translucent rgba(255, 255, 255, 0.3);
/* ---------------------------- */

/* ---------- Globals ---------- */
/* Style that applies to everything. */
* {
  font-family: 'Iosevka Nerd Font';
  font-size: 14px;
  color: @foreground-color;
}

/** Generic button of any section. */
button {}
/* ----------------------------- */

/* ---------- WayBar instance ---------- */
/* Style of the background-color/wrapper of the bar itself. */
window#waybar {
  background-color: transparent;
}

/** Style of the bar */
window#waybar>box {
  margin: 10px 10px 0 10px;
  background-color: @background-color;
  border-radius: 5px;
}
/* ------------------------------------- */

/* ---------- Module containers ---------- */
.modules-center>widget>*, .modules-right>widget>* {
  margin: 3px 5px 3px 0;
  padding: 3px 5px;
  background-color: @button-color;
  border-radius: 5px;
  border: 0.5px solid @foreground-color-translucent;
}

.modules-center>widget:last-child {
  margin-right: 0px;
}
/* --------------------------------------- */

/* ---------- Modules (modules.jsonc) ---------- */
/* [hyprland/workspaces] */
#workspaces button {
  margin: 3px 0 3px 5px;
  padding: 2px 2px 2px 4px;
  background-color: @button-color;
  border-radius: 5px;
  border: 0.5px solid @foreground-color-translucent;
}
#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}
#workspaces button.focused {}
#workspaces button.active {
  background-color: @foreground-color-translucent;
}
#workspaces button.urgent {}

/* [tray] */
#tray>.passive {}
#tray>.needs-attention {}

/* [battery] */
#battery.charging,
#battery.plugged {}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {}

/* [pulseaudio] */
#pulseaudio {
  padding-right: 5px;
}

/* [custom/power] */
#custom-power {
  min-width: 12px;
  padding-right: 9px;
  margin-right: 5px;
}
/* --------------------------------------- */
