/* Variables */
@define-color primary rgb(0, 0, 0);
@define-color on-primary-color rgb(255, 255, 255);

window {
  margin: 0px;
  border: 2px solid @on-primary-color;
  border-radius: 10px;
  background-color: @primary;
  font-family: 'Hack Nerd Font';
  font-size: 20px;
}

#input {
  margin: 5px;
  border: none;
  color: @on-primary-color;
  background-color: #272E33;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: @primary;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: @primary;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @on-primary-color;
}

#entry:selected {
  background-color: #272E33;
}
